#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.o
*.d
*.a
*.so
*.sdf
*.opensdf
*.ipch
*.idb
*.out
*cpptestresults.xml
*gtestresults.xml
*.issc
*.uvgui.*
*.uvopt
*.dep
*.c.orig
*.h.orig
*.master
*.core.prefs
*.dot
*.svg
*.png
*.stackdump
*.lst
*.tlog

#clion
.idea/
**/.idea/workspace.xml 
**/.idea/tasks.xml
**/cmake-build-*
**/cmake-*-build

#cmake
**/Testing

*.lastbuildstate
*.zip
*.pyc
**/static-analysis-results/

## eclipse workspace settings
.metadata/

## vscode
.vscode/

## vs2017
.vs/

## cpu_generator 
# flex /bison generated stuff
# ---- disabled as long as flex/bison does not run from cmake
#**/cpu_generator/src/pseudo_code_parser/location.hh
#**/cpu_generator/src/pseudo_code_parser/position.hh
#**/cpu_generator/src/pseudo_code_parser/PseudoCodeParser.cpp
#**/cpu_generator/src/pseudo_code_parser/PseudoCodeParser.h
#**/cpu_generator/src/pseudo_code_parser/PseudoCodeScanner.cpp
#**/cpu_generator/src/pseudo_code_parser/PseudoCodeParser.output
#**/cpu_generator/src/pseudo_code_parser/PseudoCodeParser.txt
#**/cpu_generator/src/pseudo_code_parser/PseudoCodeParser.xml
#**/cpu_generator/src/pseudo_code_parser/stack.hh

**/cpu_generator/gen_*/*

# build
**/cpu_generator/build

## externals
!external/**/*.exe
!external/**/*.lib
!external/**/*.pdb
!external/**/[Dd]ebug
!external/**/[Rr]elease
!external/**/lib/*.a

## tools
!tools/generators/win_flex_bison/*.exe

## backups
models.back/
*~

## generated code
.project
models/.project
models/src/core/.project
models/src/core/.settings/language.settings.xml
models/src/sfrs/.project
models/src/sfrs/.settings/language.settings.xml
models/tb/cpu_at_moduletest/.project
models/tb/cpu_at_moduletest/.settings/language.settings.xml
models/tb/cpu_lt_moduletest/.project
models/tb/cpu_lt_moduletest/.settings/language.settings.xml
models/tb/sfrs_unittest/.project
models/tb/sfrs_unittest/.settings/language.settings.xml
.settings/language.settings.xml
**/TestResults/
*.orig
models/tb/cpu_v8m_moduletest/*/Listings/*
models/tb/cpu_v8m_moduletest/*/Objects/*
*.VC.db
*.VC.VC.opendb
testobjects/**/*.htm
testobjects/**/*.map
testobjects/**/*.lnp
doc/~*
!**/testobjects/**/*.log
testobjects/benchmark/tmp/*.csv
*.tarmac
tools/generators/sfr_generator/generated_register_files/**/*
tools/generators/sfr_generator/essence_output/**/*
tools/generators/sfr_generator/scripts/.tmp/
tools/generators/jdb/metagen/*
tools/generators/jdb/output/*
doc/**/*.ldb
**/.idea/workspace.xml
sfr_generator/banked-sfr-names.csv


# SDK Simulator build
sdk/simulator/build/
sdk/simulator/build_**
!sdk/simulator/*.csh
!sdk/simulator/*.bat
sdk/simulator/build_sdk/
sdk/simulator/build_gcc_debug/
sdk/simulator/build_gcc_release/
sdk/simulator/build_gcc_coverage/
sdk/installer/generator/keil_install_files/
sdk/installer/generator/redistributables/
sdk/installer/build/
sdk/installer/build_**
sdk/gui/build/
sdk/gui/xdml_gui_new

# reference model build
reference_model/build_gcc_coverage/

# stest build
tools/continuous_integration/system_test/build/

# Cppcheck reports
sdk/simulator/reports
**/*-cppcheck-build-dir/*

#Ignore files generated by tests
sdk/tb/processor_mock_moduletest/*.txt
sdk/simulator/tb/keil_mcd_client/agdi_mcd_moduletest/Keil/TOOLS.INI

#Do not ignore images in the doc folder

!doc/*.png
!doc/*.PNG
!doc/*.jpg
!doc/*.JPG
!doc/*.jpeg
!doc/*.JPEG

#Ignore gcc_sign_off libs
/tools/gcc_sign_off/lib/

tools/generators/system_generator/device/metagen/out
tools/generators/system_generator/device/metagen/specs/system
.idea/ig32.iml
tools/generators/sfr_generator/frame_maker_sources/*.e[0-9]*
tools/generators/sfr_generator/frame_maker_sources/*.mif
tools/generators/sfr_generator/frame_maker_sources/*.xml
tools/generators/jdb/generic_register_access_test_generator/*.pickle

!sdk/src/device/debug_mock/

.cmaketools.json
/testobjects/sdk_elf/tarmac.log
/sdk/simulator/tb/testobjects/sdk_elf/tarmac.log
/reference_model/build/
/tools/generators/cpu_generator/build/
/sdk/simulator/benchmark/testobjects/tmp/benchmark.csv
**/* - Copy*

# SDK verification tests
/sdk/verification/tests/**/CMakeFiles
/sdk/verification/tests/**/cmake_install.cmake
/sdk/verification/tests/**/CMakeCache.txt
/sdk/verification/tests/**/Makefile
/sdk/verification/tests/**/*.axf
/sdk/verification/tests/**/*.htm
/sdk/verification/tests/**/*.map
/sdk/verification/tests/**/*.scvd

# Files and folder to ignored in sdk/verification/gui
/sdk/verification/gui/**/*.tcLS
/sdk/verification/gui/**/*.tcCfgExtender
/sdk/verification/gui/**/*.o
/sdk/verification/gui/**/*.d
/sdk/verification/gui/**/*.crf
/sdk/verification/gui/**/*.lst
/sdk/verification/gui/**/*.htm
/sdk/verification/gui/**/*.lnp
/sdk/verification/gui/**/*.pl90
/sdk/verification/gui/**/*.hex
/sdk/verification/gui/**/*.map
/sdk/verification/gui/**/*.dep
/sdk/verification/gui/**/*.axf
/sdk/verification/gui/**/*.uvopt
/sdk/verification/gui/**/*.uvgui.*
/sdk/verification/gui/**/*.scvd
/sdk/verification/gui/**/*.iex
/sdk/verification/gui/**/*.sj.bak
/sdk/verification/gui/**/*.htp
/sdk/verification/gui/**/*.log
/sdk/verification/gui/**/*/Log
/sdk/verification/gui/**/*tcax.tlb
**.sj.tcVis
**/Visualizer


#vim
*.swo
*.swp
**/lst/*.i

xdml*.ini
/simulator.cppcheck
/simulator-cppcheck-build-dir/*
/external/keil-90-mock/ARM/Infineon/SLE90
/sdk/Keil/ARM/Infineon/SLE90/*
/sdk/nuget_repos/

# Ignore output from samples
/sdk/samples/**/lst
/sdk/samples/**/obj
/sdk/samples/**/*.scvd
/sdk/samples/**/*uvgui.*
/sdk/samples/**/*.uvopt
/sdk/samples/**/tarmac.log
/sdk/samples/**/xdml*.ini
/sdk/samples/**/*.htp

sdk/**/*_version.rc

# Ignore temporary installer files
artifacts/
cdb_tmp/
jdb_tmp/
sdk/installer/src/ini_files/versions.ini
sdk/xdml/generated_derivative.xdml
sdk/xdml/generated_dir.xdml
xsdf_tmp/
/.vstags

# Ignore sfr-generator intermediate files
banked-sfr-names.csv
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/SVC_handler_ns.h
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/SVC_handler_ns.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/mpu_SLC57_ns.c
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/mpu_SLC57_ns.h
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/startup_SLC57.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/startup_SLC57V17.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/startup_SLC57V19a.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_ns/src/system_SLC57.c
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/SVC_handler_s.h
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/SVC_handler_s.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/mpu_SLC57_s.c
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/mpu_SLC57_s.h
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/startup_SLC57.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/startup_SLC57V17.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/startup_SLC57V19a.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/FourQuadrants/SLC57ProjectTemplate_s/src/system_SLC57.c
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_ns/src/startup_SLC57.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_ns/src/startup_SLC57V17.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_ns/src/startup_SLC57V19a.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_ns/src/system_SLC57.c
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_s/src/startup_SLC57.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_s/src/startup_SLC57V17.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_s/src/startup_SLC57V19a.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate/SLC57ProjectTemplate_s/src/system_SLC57.c
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate_s/src/startup_SLC57.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate_s/src/startup_SLC57V17.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate_s/src/startup_SLC57V19a.s
/sdk/samples/Application Notes & Samples/Samples-SLCx7/SLC57/SLC57ProjectTemplate_s/src/system_SLC57.c

# Miscellaneous
/sdk/simulator/bB/
/sdk/simulator/bD/
/sdk/simulator/bR/
/logs
